[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=Deepin WINE Team
Categories=chat;
Icon=deepin.com.qq.office
Exec="/opt/deepinwine/apps/Deepin-TIM/run.sh" -u %u
Name=TIM
Name[zh_CN]=TIM
Comment=Tencent TIM Client on Deepin Wine
StartupWMClass=TIM.exe
MimeType=
X-XFCE-Source=file:///usr/share/applications/deepin.com.qq.office.desktop
