[Desktop Entry]
Version=1.0
Type=Link
Name=印象笔记
Comment=网页版
Icon=evernote
URL=https://app.yinxiang.com/Home.action?hpts=1581857405619&loginToken=S%3Ds48%3AU%3D1a8b23a%3AE%3D1704e43692b%3AC%3D1704e0c7aac%3AP%3D5fd%3AA%3Den-web%3AV%3D3%3AH%3Da7cc932f47dc4dae2069bc600671bbeb&wechatLogin=true&login=true&hptsh=NqrQr1tHReUUn1S0ANDalZgT2eE%3D#n=e6a1eaae-ddb0-4021-ada5-3fa6d9d85c05&s=s48&ses=4&sh=2&sds=5&
