[Desktop Entry]
Version=1.0
Type=Link
Name=印象笔记
Comment=网页版
Icon=evernote
URL=https://app.yinxiang.com/client/web#?an=true&n=bd974951-5ced-4278-8e6a-9fc72f52b9ce&s=s48&
