mode_in_use=1
mode_default=1
show_panel_entry=false
panel_entry_size=150
port=2628
server=dict.org
dict=*(使用所有)
spell_bin=/usr/bin/aspell
spell_dictionary=zh_CN
link_color=rgb(0,0,255)
phonetic_color=rgb(0,99,0)
error_color=rgb(128,0,0)
success_color=rgb(16,112,0)
geometry=965;38;466;1032;0;
speedreader_font=Sans 32
speedreader_wpm=400
speedreader_grouping=1
speedreader_mark_paragraphs=false
web_url=http://www.merriam-webster.com/dictionary/{word}

